<!DOCTYPE html>
<html>
  <head>
    <title>Форма транспортной карты</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
   {% endif %} 
  </ul>
    {% block content %}

    {% endblock %}
  </body>
</html>
