<!DOCTYPE html>
<html>
  <head>
    <title>Форма транспортной карты</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
   {% endif %} 
  </ul>
    <div class="testbox">
      {% if user.is_authenticated %}
         <form method="post" enctype="multipart/form-data">
	  	{% csrf_token %}
        <h1>Форма транспортной карты</h1>
		<div class="item">
			<p>Тип карты</p>
			{{ form.type }}
        </div>
		<div class="item">
			<p>Вид заявки</p>
			{{ form.reason }}
        </div>
	<div class='item'>
		<p>Телефон</p>
		{{ form.phone }}
	</div>
	<div class='item'>
		<p>Метод оплаты</p>
		{{ form.pay_method }}
	</div>
		<div class="item">
          <p>ИНН</p>
		  {{ form.inn }}
        </div>
		<div class="item">
          <p>Фамилия</p>
		  {{ form.surname }}
        </div>
		<div class="item">
          <p>Имя</p>
		  {{ form.name }}
        </div>
		<div class="item">
          <p>Изображение</p>
          {{ form.photo }}
        </div>
		<span>{{ error }}</span>
        <div class="btn-block">
          <button type="submit">Отправить</button>
        </div>
      </form>
      {% else %}
        <p>Войдите в систему, чтобы увидеть эту страницу.</p>
      {% endif %}
    </div>
  </body>
</html>
