{% extends "base_generic.html" %} 
{% block content %} 
{% if user.is_authenticated %}
<div class="testbox">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Форма транспортной карты</h1>
    <div class="item">
      <p>Тип карты</p>
      {{ form.type }}
    </div>
    <div class="item">
      <p>Вид заявки</p>
      {{ form.reason }}
    </div>
    <div class="item">
      <p>Телефон</p>
      {{ form.phone }}
    </div>
    <div class="item">
      <p>Метод оплаты</p>
      {{ form.pay_method }}
    </div>
    <div class="item">
      <p>ИНН</p>
      {{ form.inn }}
    </div>
    <div class="item">
      <p>Фамилия</p>
      {{ form.surname }}
    </div>
    <div class="item">
      <p>Имя</p>
      {{ form.name }}
    </div>
    <div class="item">
      <p>Изображение</p>
      {{ form.photo }}
    </div>
    <span>{{ error }}</span>
    <div class="btn-block">
      <button type="submit">Отправить</button>
    </div>
  </form>
</div>
{% else %}
<div class='item'>
<p class='desc'>Войдите в систему, чтобы увидеть эту страницу.</p>
</div>
{% endif %} 
{% endblock %}
