{% extends "base_generic.html" %} 
{% block content %} 
{% if user.is_authenticated %}

<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="testbox">
	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>ИНН</th>
						<th>Имя</th>
						<th>Фамилия</th>
						<th>Тип</th>
						<th>Причина</th>
						<th>Телефон</th>
						<th>Вид оплаты</th>
						<th>Фото</th>
					</tr>

					{% for card in cards %}

					<tr>
						<td>{{card.inn}}</td>
						<td>{{card.name}}</td>
						<td>{{card.surname}}</td>
						<td>{{card.type}}</td> 
						<td>{{card.reason}}</td>
						<td>{{card.phone}}</td>
						<td>{{card.pay_method}}</td>
						<td><a href="/./media/{{card.photo}}">Фото</a></td>
					</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>
</div>

{% endif %} 
{% endblock %}
