{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
  <p class='desc'>Неверное имя пользователя и/или пароль</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p class='desc'>Вы уже вошли в аккаунт.</p>
  {% else %}
    <p class='desc'>Введите логин и пароль пользователя.</p>
  {% endif %}
{% endif %}


{% if not user.is_authenticated %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

  <div class='item'>
    <p>{{ form.username.label_tag }}</p>
    <div class="input">{{ form.username }}</div>
  </div>
  <div class='item'>
    <p>{{ form.password.label_tag }}</p>
    <div class="input">{{ form.password }}</div>
  </div>
<div class='btn-block'>
<button type="submit" value="login">Войти</button>
</div>
</form>
{% endif %}

{% endblock %}